/* CSS declarations go here */


body {
		background-color: #0A4400;
    font-family:"Open Sans";
		color: #fff;
		padding-top: 20px;
}
p {
     font-family:"Open Sans";
		 color:#ffffff;
}
.login{
margin-left: 50px;
}

.logo {
  width: 300px;
  height: 100px;
}
.toggle-menu {
	list-style-type: none;
	color:#d3d300;
	width:50%;

	height:4em;
	text-align: center;
	list-style: none;
	padding: none;

	font-size: 2em;
	font-weight: bold;
}
.FrontButtons {
	text-align: center;
	list-style: none outside none;
	list-style-type: none;
}
.buttons {
	list-style-type: none;
	list-style: none;
}
.container {
	margin-left:none;
}
#login-buttons{

	font-size: 4em;
}
