


<template name="MainLayout">
  <header>
    
    <div class="head"></div>




	<script src="/client/main.js"></script>
    <br>
        <!--{{> loginButtons}}
        {{#if currentUser}}
          {{currentUser.profile.login}}
        {{/if}}-->

  </header>


<main class="content">
    <br>

    <canvas id="canvas" width="1500"></canvas>
    <ul id="front">
        <li><button class="btn toggle-menu " id="client">Client Zone</button></li>
        <li><button class="btn toggle-menu" id="ameta">AMETA Academy</button></li>
        <li><button class="btn toggle-menu" id="staff">Staff Zone</button></li>
    </ul>

</main>
<footer>
    <div class="foot"></div>
  <div class="action"><h1>+</h1></div>

</footer>

</template>
